spring:
  application:
    name: ashika
  datasource:
    url: jdbc:postgresql://localhost:5432/ashika_db
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    user:
      name:
      password:
server:
  port: 9595
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
jwt:
  secret:
  expiration:
